body {
  width: 350px;
  margin: 0;
  padding: 0 10px;

  font-size: 14px;
  font-family: "Arial", sans-serif;
}

table {
  border-spacing: 10px;
  border-collapse: collapse;
  
  }
td {
  border-bottom: 2px solid lightgray;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  }
  
 